#bottles{
  display: flex;
}

.bottle{
  border:2px solid black;
  border-top: none;
  width: 54px;
  height: 250px;
  margin-right: 20px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  position: relative;
}

/* .empty{
  background-color: blueviolet;
} */

.ball{
  margin:2px 0;
  background-color: pink;
  width: 50px;
  height:50px;
  border-radius: 50%;
  
}

.button{
  margin-top:80px;
  margin-left:30px;
  margin-right: 20px;
  background-color: red;
  width: 50px;
  height: 50px;
}

#buttons{
  display: flex;
}

#instruct{
  width: 300px;
  height: 70px;
}